* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgba(255, 255, 255, 0.212);
  width: 100%;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 10px 10px;
  text-decoration: none;
  text-align: center;
  color: white;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f41e;
}

/* menu */

.header .menu {
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 3px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 20px;
  border-radius: 3px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  border-radius: 3px;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.startpage {
  height: 100vh;
  background-image: url(../images/negative-space-black-forest-daw.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-startpage {
  position: absolute;
  top: 30%;
  left: 20%;
  right: 20%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.startpage-text {
  display: flex;
  flex-direction: column;

  text-align: center;
  color: aliceblue;
}

.container-arrow {
  display: flex;
  justify-content: center;
  position: relative;
}
.arrow {
  width: 20px;
  font-size: larger;
  position: absolute;
  top: 95vh;
  background-color: rgba(255, 255, 255, 0.842);
  color: rgb(83, 78, 78);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}
.arrow:hover {
  opacity: 0.7;
}
.about {
  text-align: center;
}
.staff-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.image-container {
  width: 50%;
}
.img {
  width: 100%;
  border-radius: 50%;
  box-shadow: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.description-staff {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 5px;
  width: 65%;
  height: 150px;
}
.quote-icon {
  font-size: 30pt;
  font-weight: bold;
}
.text-staff {
  text-align: left;
  width: 70%;
}
.container-secondarrow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.secondarrow {
  flex-direction: row;
  border-radius: 50%;
  background-color: black;
  width: 20px;
  text-decoration: none;
  color: aliceblue;
  margin-bottom: 20px;
}
.secondarrow:hover {
  opacity: 0.7;
}
.contact {
  font-size: 14pt;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container-contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social-media {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.fa {
  font-size: 30px;
  text-align: left;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-instagram {
  background: black;
  color: white;
}
.fa-twitter {
  background: black;
  color: white;
}
.fa-facebook {
  background: black;
  color: white;
}
@media screen and (min-width: 768px) {
  .header li a {
    padding: 20px 30px;
    font-size: 14pt;
  }
  .header .menu {
    clear: none;
    max-height: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
  }
  .header .menu-icon {
    display: none;
  }
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f400;
    text-decoration: underline;
  }
  .staff-container {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .personal {
    width: 40%;
  }
  .contact {
    height: 30vh;
    justify-content: center;
  }
  .container-contact {
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}
